<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>To-Do List</h1>
    <ul id="todo-list">
        <!-- To-Do items will be added here -->
    </ul>
    <form id="todo-form">
        <input type="text" id="todo-input" placeholder="Add a new task" required>
        <button type="submit">Add</button>
    </form>
</body>
</html>
